.colCard {
  margin-bottom: 45px;
}

.bannerText {
  padding: 0 10px;
  text-align: center;
  position: relative;
  top: 5%;
  color: white;
  font-weight: 600;
  background-color: #78100E;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 1rem;
  width: 40%;
}
