.colCardMobile {
  margin-bottom: 20px;
}

.bannerText {
  padding: 0 10px;
  position: relative;
  top: 5%;
  color: white;
  font-weight: 600;
  background-color: #78100E;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 0.8rem;
  width: 45%;
}
