.button {
  width: 100%;
  background-color: #78100E !important;
  border: none !important;
  color: white !important;
}

.button:hover,
.button:active,
.button:focus {
  width: 100%;
  background-color: #ff575c !important;
  border: #ff575c !important;
  box-shadow: 0 0 0 0.2rem rgb(255 87 92 / 50%);
  color: white !important;
}
