.button_create_account {
  width: 100%;
  background-color: #ff4a4f !important;
  border: none !important;
  color: white !important;
}

.button_create_account:hover,
.button_create_account:active,
.button_create_account:focus {
  width: 100%;
  background-color: #ff575c !important;
  border: #ff575c !important;
  box-shadow: 0 0 0 0.2rem rgb(255 87 92 / 50%);
  color: white !important;
}
