.content {
  line-height: 20px;
}

.title {
  font-size: 1rem !important;
}

.card_text {
  font-size: 0.9rem !important;
}

.image {
  height: 180px;
}

.container {
  max-width: 1300px;
  margin: 30px auto;
}

.search_Box:focus {
  box-shadow: none !important;
}
