.modal-content {
  margin: 30px;
}

.checkout_button,
.checkout_button:hover,
.checkout_button:focus,
.checkout_button:active {
  border-radius: 0;
  width: 100%;
  background-color: #78100E !important;
  border: none;
  color: white !important;
  box-shadow: none !important;
}
