html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
  height: 100%;
  background-color: #eaeff3 !important;
}

* {
  box-sizing: border-box;
}

a {
  /* color: rgb(115, 138, 149) !important; */
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  width: 100%;
  /* display: block; */
  height: 160px;
  object-fit: cover;
}

/* @media only screen and (max-width: 768px) {
  .img{
    max-width: 300px;
    max-height: 300px;
  }
} */

.card {
  margin-bottom: 20px;
}

.navbar-dark .navbar-brand {
  color: white !important;
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm .container-xl {
  padding-right: 30px !important;
  padding-left: 30px !important;
}

.card {
  cursor: pointer;
}

.nav-tabs {
  border-bottom: 1px solid #dee2e6 !important;
}

.custom-dialog-login {
  max-width: 430px !important;
}
