html,
body {
  padding: 0 !important;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 16px !important;
  height: 100%;
  /* background-color: #eaeff3 !important; */
  background-color: #eaeff3 !important;
}

* {
  box-sizing: border-box;
}

a {
  /* color: rgb(115, 138, 149) !important; */
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  width: 100%;
  object-fit: cover;
}

.card {
  margin-bottom: 20px;
}

.navbar-dark .navbar-brand {
  color: white !important;
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm .container-xl {
  padding-right: 30px !important;
  padding-left: 30px !important;
}

.card {
  cursor: pointer;
}

.nav-tabs {
  border-bottom: 1px solid #dee2e6 !important;
}

.custom-dialog-login {
  max-width: 430px !important;
}
.menuModal-70w {
  min-width: 70%;
}

.menuModal-60w {
  min-width: 60%;
}

.ant-upload {
  width: 100%;
}

.anticon {
  vertical-align: middle !important;
}

.myfilter.ant-select:not(.ant-select-customize-input) .ant-select-selector {
  position: relative;
  background-color: #fff;
  border: none;
  border-radius: 2px;
  -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.myfilter.ant-select-single:not(.ant-select-customize-input)
  .ant-select-selector {
  width: 100%;
  height: 32px;
  padding: 0;
}

.myfilter.ant-select-multiple .ant-select-selection-placeholder {
  position: absolute;
  top: 50%;
  right: 11px;
  left: 0px;
  transform: translateY(-50%);
  transition: all 0.3s;
}

.myfilter.ant-select-single .ant-select-selector .ant-select-selection-search {
  position: absolute;
  top: 0;
  right: 11px;
  bottom: 0;
  left: 0;
}

.myfilter.ant-select:not(.ant-select-disabled):hover .ant-select-selector {
  border: none;
}

.myfilter.ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input)
  .ant-select-selector {
  border: none;
  box-shadow: none;
}

.myfilter.ant-select-multiple .ant-select-selection-search {
  position: relative;
  max-width: 100%;
  margin: 0;
}

.myfilter.ant-select-multiple .ant-select-selector {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0;
}

/* div.ant-upload.ant-upload-select-picture-card {
  width: 150px;
  height: 150px;
  margin-right: 8px;
  margin-bottom: 8px;
  text-align: center;
  vertical-align: top;
  background-color: #fafafa;
  border: 1px dashed #d9d9d9;
  border-radius: 2px;
  cursor: pointer;
  transition: border-color 0.3s;
} */

/* .upload-restaurant-list {
  width: 104px !important;
  height: 104px !important;
}
.upload-restaurant-logo {
  width: 150px !important;
  height: 150px !important;
}

.ant-upload-list {
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.85);
  font-size: 14px;
  font-variant: tabular-nums;
  list-style: none;
  font-feature-settings: "tnum", "tnum";
  line-height: 1.5715;
}

.ant-upload-list-picture-card-container {
  display: inline-block;
  width: 100%;
  height: 100%;
  margin: 0 8px 8px 0;
  vertical-align: top;
}

.ant-upload.ant-upload-select-picture-card {
  width: 100% !important;
  height: 100% !important;
}

.ant-upload-list-picture-card-container{
  width: 100% !important;
  height: 100% !important;
} */

.avatar-uploader > .ant-upload {
  width: 150px !important;
  height: 150px !important;
}

.rcw-open-launcher {
  height: auto !important;
}

.rcw-send .rcw-send-icon {
  width: auto !important;
}

.rcw-close-launcher {
  height: auto !important;
}

.rcw-launcher .rcw-badge {
  z-index: 99999;
}

.balon1 {
  float: right;
  background: #35cce6;
  border-radius: 10px;
}

.balon2 {
  float: left;
  background: #f4f7f9;
  border-radius: 10px;
}
.message {
  overflow: hidden;
}

.list-group-flush > .list-group-item:last-child {
  border-bottom-width: 1px;
}

@media screen and (max-width: 800px) {
  .rcw-widget-container {
    height: auto !important;
    margin: 0 !important;
    max-width: none !important;
    width: 100% !important;
    z-index: 2 !important;
  }

  .rcw-conversation-container.active {
    height: 100vh !important;
    opacity: 1 !important;
    transform: translateY(0) !important;
    transition: opacity 0.3s ease, transform 0.3s ease !important;
  }
}

.modal {
  padding-left: 0 !important;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0;
}

.ant-modal-confirm-body .ant-modal-confirm-title {
  display: block;
  overflow: hidden;
  color: rgba(0, 0, 0, 0.85);
  font-weight: bold !important;
  font-size: 16px;
  line-height: 1.4;
}

.alignRight {
  text-align: right;
}

input#whatSearch.form-control {
  padding: 0 !important;
  border: none !important;
  font-size: 0.9rem;
}
input#whereSearch.form-control {
  padding: 0 !important;
  border: none !important;
  font-size: 0.9rem;
}

#orderStatus-tabs-tab-newOrder {
  color: red;
}
#orderStatus-tabs-tab-inOrder {
  color: gray;
}

#orderStatus-tabs-tab-completed {
  color: green;
}

/* Edit cell table */
.editable-cell {
  position: relative;
}

.editable-cell-value-wrap {
  padding: 5px 12px;
  cursor: pointer;
}

.editable-row:hover .editable-cell-value-wrap {
  padding: 4px 11px;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
}

[data-theme="dark"] .editable-row:hover .editable-cell-value-wrap {
  border: 1px solid #434343;
}
/* Edit cell table */

div.ant-row.ant-form-item {
  margin: 0;
}

.navbar-toggler {
  position: absolute;
  top: 25px;
}

.myfilter.form-control {
  border: none !important;
  padding: 0 !important;
}

.myfilter.form-control:focus {
  border: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.ant-message {
  z-index: 99999 !important;
}
.pac-container {
  z-index: 99999 !important;
}

.pac-target-input {
  margin-top: 10px !important;
  margin-bottom: 0 !important;
}

.rcw-conversation-container.active {
  width: 370px !important;
}

.rcw-widget-container {
  bottom: 0 !important;
  display: flex !important;
  flex-direction: column !important;
  margin: 0 20px 20px 0 !important;
  position: fixed !important;
  right: 0 !important;
  z-index: 1040 !important;
  width: auto !important;
}

.fb_dialog {
  z-index: 1000 !important;
}

.facebook-login {
  background-color: white !important;
  border: none !important;
}

.menu-item {
  display: inline-flex;
  height: 40px;
  padding: 15px;
  align-items: center;
  border-radius: 25px;
  margin-left: 10px;
  background-color: #f2f2f2;
  cursor: pointer;
}

.menu-item.active {
  display: inline-flex;
  height: 40px;
  padding: 15px;
  align-items: center;
  border-radius: 25px;
  margin-left: 10px;
  color: white;
  background-color: #ff4a4f;
  cursor: pointer;
}

.scroll-menu-arrow {
  padding: 20px;
  cursor: pointer;
}
