.container {
  box-shadow: 5px 10px 18px #888888;
  padding: 3rem;
  min-height: 15rem;
  background-color: white;
}

.tab {
  margin-top: 15px;
}

.container2 {
  height: 100%;
  width: 100%;
  padding: 20px;
  border: 1px solid #dedede;
}

.img {
  -webkit-user-drag: none;
  height: 100%;
  width: 100%;
}



